@import "./utils/variables";

@import "./base/base";
@import "./components/buttons";

@import "./layout/header";
@import "./layout/animation";


@import "./pages/accueil";
@import "./pages/media";

.image__fond {
    z-index: -1;
    &__img{
        height: 45vh;
        width: 100%;
        object-fit: cover;
    }
    
}

.main {
    padding: 1.5rem 1rem 3rem 1rem;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
    top: -2rem;
    background: $color-white;
    margin-bottom: -2rem;
    &__content {
        display: flex;
        flex-direction: column;
    }
}

.main__header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    &__titre {
        font-family: 'Shrikhand', sans-serif;
        margin: 0rem;
    }
    &__heart__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 1.5rem;
        top: 0.4rem;
        right: 1rem;
        background: $color-white;
        &--1 {
            background: -webkit-linear-gradient(170deg, $color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--2 {
            transition-duration: 0.3s;
            &:hover {
                opacity: 0%;
            }
        }   
    }
}

.main__entrees{
    margin-bottom: 0.5rem;
    &__header__titre{
        font-weight: 300;
        margin: 0rem;
        position: relative;
        &::after {
            content: "";
            bottom: -0.5rem;
            background-color: $color-tertiary;
            position: absolute;
            width: 3rem;
            height: 0.25rem;
            left: 0;
        }
    }
    &__cartes {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }
    &__contenu {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        background-color: $color-white;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0.05rem 0.05rem 0.3rem $color-boxshadow;
        animation-name: apparition-progressive;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        cursor: pointer;
        overflow: hidden;
            &:hover {
                .main__entrees__contenu__icon {
                    animation-name: translation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }
                .main__entrees__contenu__prix {
                    animation-name: translation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }   
                i {
                    animation: rotation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }
            }
        &__header {
            display: flex;
            flex-direction: column;
            width: 100%;
            white-space: nowrap;
            &__titre {
                margin: 0rem 0rem 0.5rem 0rem;
            }
            &__suitetitre {
                margin: 0;
                font-size: 0.8rem;
            }
        }
        &__prix {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-left: 0.5rem;
            font-weight: 500;
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-tertiary;
            width: 4rem;
            position: absolute;
            right: -4rem;
            height: 100%;
            margin-top: -1rem;
            i {
                font-size: 1.5rem;
                color: $color-white;
            }
        }
        &--1 {
            animation-delay: $delay--1;
        }
        
        &--2 {
            animation-delay: $delay--2;
        }
        
        &--3 {
            animation-delay: $delay--3;
        }
        &--4 {
            animation-delay: $delay--4;
        }
    }
}

.main__plats{
    margin-bottom: 0.5rem;
    &__header__titre{
        font-weight: 300;
        margin: 0rem;
        position: relative;
        &::after {
            content: "";
            bottom: -0.5rem;
            background-color: $color-tertiary;
            position: absolute;
            width: 3rem;
            height: 0.25rem;
            left: 0;
        }
    }
    &__cartes {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }
    &__contenu {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        background-color: $color-white;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0.05rem 0.05rem 0.3rem $color-boxshadow;
        animation-name: apparition-progressive;
        animation-duration: 1s;
        animation-fill-mode: both;
        cursor: pointer;
        overflow: hidden;
            &:hover {
                .main__plats__contenu__icon {
                    animation-name: translation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }
                .main__plats__contenu__prix {
                    animation-name: translation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }   
                i {
                    animation: rotation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }
            }
        &__header {
            display: flex;
            flex-direction: column;
            width: 100%;
            white-space: nowrap;
            &__titre {
                margin: 0rem 0rem 0.5rem 0rem;
            }
            &__suitetitre {
                margin: 0;
                font-size: 0.8rem;
            }
        }
        &__prix {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-left: 0.5rem;
            font-weight: 500;
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-tertiary;
            width: 4rem;
            position: absolute;
            right: -4rem;
            height: 100%;
            margin-top: -1rem;
            i {
                font-size: 1.5rem;
                color: $color-white;
            }
        }
        &--1 {
            animation-delay: $delay--1;
        }
        
        &--2 {
            animation-delay: $delay--2;
        }
        
        &--3 {
            animation-delay: $delay--3;
        }
    }
}

.main__desserts{
    margin-bottom: 0.5rem;
    &__header__titre{
        font-weight: 300;
        margin: 0rem;
        position: relative;
        &::after {
            content: "";
            bottom: -0.5rem;
            background-color: $color-tertiary;
            position: absolute;
            width: 3rem;
            height: 0.25rem;
            left: 0;
        }
    }
    &__cartes {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }
    &__contenu {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        background-color: $color-white;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0.05rem 0.05rem 0.3rem $color-boxshadow;
        animation-name: apparition-progressive;
        animation-duration: $anim-duree-rest;
        animation-fill-mode: both;
        cursor: pointer;
        overflow: hidden;
            &:hover {
                .main__desserts__contenu__icon {
                    animation-name: translation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }
                .main__desserts__contenu__prix {
                    animation-name: translation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }   
                i {
                    animation: rotation-icon;
                    animation-duration: $anim-duree-rest;
                    animation-fill-mode: forwards;
                }
            }
        &__header {
            display: flex;
            flex-direction: column;
            width: 100%;
            white-space: nowrap;
            &__titre {
                margin: 0rem 0rem 0.5rem 0rem;
            }
            &__suitetitre {
                margin: 0;
                font-size: 0.8rem;
            }
        }
        &__prix {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-left: 0.5rem;
            font-weight: 500;
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-tertiary;
            width: 4rem;
            position: absolute;
            right: -4rem;
            height: 100%;
            margin-top: -1rem;
            i {
                font-size: 1.5rem;
                color: $color-white;
            }
        }
        &--1 {
            animation-delay: $delay--1;
        }
        
        &--2 {
            animation-delay: $delay--2;
        }
        
        &--3 {
            animation-delay: $delay--3;
        }
    }
}

@keyframes apparition-progressive {
    0% {
        opacity: 0;
        z-index: -1;
        transform: translateY(1rem);
    }
    
    100% {
        opacity: 1;
        z-index: 0;
        transform: translateY(0rem);
    }
}

@keyframes rotation-icon {
    0% {
        transform: rotate(360deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@keyframes translation-icon {
    0% {
        transform: translateX(0rem);
    }
    
    100% {
        transform: translateX(-4rem);
    }
}