@import "./utils/variables";

@import "./base/base";
@import "./components/buttons";

@import "./layout/header";
@import "./layout/animation";


@import "./pages/accueil";
@import "./pages/media";

.image__fond {
    &__img{
        height: 45vh;
        width: 100%;
        object-fit: cover;
    }
    
}