@import "./utils/variables";

@import "./base/base";
@import "./components/buttons";

@import "./layout/header";
@import "./layout/animation";


@import "./pages/accueil";
@import "./pages/media";

.image__fond {
    z-index: -1;
    &__img{
        height: 45vh;
        width: 100%;
        object-fit: cover;
    }
    
}
.main {
    padding: 1.5rem 1rem 3rem 1rem;
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
    z-index: 1;
    top: -2rem;
    background: $color-white;
}
.main__header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    &__titre {
        font-family: 'Shrikhand', sans-serif;
        margin: 0rem;
    }
    &__heart__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 1.5rem;
        top: 0.4rem;
        right: 1rem;
        background: $color-white;
        &--1 {
            background: -webkit-linear-gradient(170deg, $color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--2 {
            transition-duration: 0.3s;
                &:hover {
                    opacity: 0%;
                }
        }   
    }
}
