/* Couleurs */
$color-primary: #9356DC;
$color-light-primary:#F4EDFE;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-dark-tertiary: #056e54;
$color-white: #fff;
$color-greyclaire: #f9f9fc;
$color-boxshadow: grey;
$color-grey: #f2f2f2;
$color-footer: #383737;
$color-black: black;

/* Responsive */
$breakpoint-desktop: 1140px;
$breakpoint-tablette: 768px;

/*Animation duration et delay loading*/
$delay-loading: 1.5s;
$duree-loading: 1.5s;

/*Animation delay apparition progressive*/
$delay--1: 0.4s;
$delay--2: 0.8s;
$delay--3: 1.2s;
$delay--4: 1.6s;

/*Animation duration pages restaurants translation et rotation icon*/
$anim-duree-rest: 1s;
$rotate-0: 0deg;
$rotate-360: 360deg;
$trans-X: -4rem;
$trans-Y0: 0rem;
$trans-Y1: 1rem;
$delay-trans-retour: -0.2s;
/*Transition duration heart*/
$trans-duree-heart: 0.3s;

/*Opacité*/
$opacity-0: 0;
$opacity-1: 1;